@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: "rosatom";
    src: url("../fonts/RST55.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "rosatom";
}

.wrapper {
    height: 100vh;
}

.layout {
    display: flex;
    flex-direction: column;
}

.layout,
.full-height {
    height: 100%;
}

.sidebar {
    background-color: #025ea1;
}

.sidebar * {
    color: #ffffff;
}

.sidebar {
    max-width: 400px;
    
}

.list-group * {
    background-color: #025ea1;
}

.menu > li {
    margin-bottom: 10px;
}

.table-row {
    cursor: pointer;
}

.table-row:hover {
    opacity: 0.5;
}

.sideview {
    background-color:  #6CACE4;
    justify-self: flex-end;
}

#modal {
    display: block;
    background-color: rgb(127 127 127 / 40%);
    backdrop-filter: blur(1px);
}

.hidden {
    display: none;
}

.logo-image {
    width: 60px;
    margin: 10px 0;
}

.btn-enter {
    --bs-btn-color: #333333;
    --bs-btn-border-color: #333333;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #025EA1;
    --bs-btn-active-bg: #003274;
    --bs-btn-active-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
}

.set-rule * {
    font-size: 16pt;
}

.section {
    background-color: #6CACE4;
    padding: 0;
    margin: 0;
}

.subsection-item:hover .subsection-link {
    --bs-list-group-hover-color: #ffffff;
}

.subsection-link {
    font-size: 14pt;
    text-decoration: none;
}